# C/C++ library code
/include/               @ibhati @aaron-dl-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @aaron-dl-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @aaron-dl-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @aaron-dl-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @aaron-dl-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @aaron-dl-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @aaron-dl-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @aaron-dl-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov
