# C/C++ library code
/include/               @ahuber21 @rfsaliev
/cmake/                 @mihaic @ahuber21 @rfsaliev
/tests/                 @mihaic @ahuber21 @yuejiaointel @rfsaliev
/benchmark/             @mihaic @ahuber21 @rfsaliev
/tools/                 @mihaic @ahuber21 @rfsaliev
/utils/                 @mihaic @ahuber21 @rfsaliev

# Python and other language bindings
/bindings/              @ethanglaser @ahuber21

# Examples and datasets
/examples/              @ahuber21 @rfsaliev
/data/                  @ahuber21 @rfsaliev

# Docker and build environment
/docker/                @mihaic

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov
