---
IndentWidth: 4
---
Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
#AllowAllParametersOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
ColumnLimit: 92
CompactNamespaces: false
DerivePointerAlignment: false
#EmptyLineAfterAccessModifier: Never
#EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
#LambdaBodyIndentation: OuterScope
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
---
