Checks: "-*,
    bugprone*,
        -bugprone-easily-swappable-parameters,
        -bugprone-macro-parentheses,
    clang-analyzer*,
    readability*,
        -readability-magic-numbers,
        -readability-identifier-length"

CheckOptions:
    - key:     readability-implicit-bool-conversion.AllowIntegerConditions
      value:   '1'
